    {{#each data}}
    <h1>{{this.title}}</h1>
    <a href='/photo/{{this.id}}'>
        <img src={{this.image_url}} alt={{this.title}} />
    </a>
    <p>Description: {{this.description}}</p>

    <p>Posted by: {{this.username}}</p>
    <p>Date posted: {{this.date}}</p>
    {{/each}}
